@use "test";

$predsGold: #ffb81c;
$predsNavy: #041e42;
$textColor: #383838;
$altcolor: #e5e5e5;
$altColor2: #ffffff;

body {
  background-color: $altcolor;
  color: $textColor;
}
.header {
}
.navigation {
}
