$predsGold: #ffb81c;
$predsNavy: #041e42;
$textColor: #383838;
$altcolor: #e5e5e5;
$altColor2: #ffffff;
$another: #000000;
$padding: 5px;

body {
  background-color: $altcolor;
  color: $textColor;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.jumbotron {
  background-color: $predsNavy;
  color: $altcolor;
}
.navbar {
  background-color: $predsGold;
  padding: $padding;
  margin: $padding;
}
b {
  text-align: center;
  color: $predsGold;
}
.card-body {
  text-align: left;
  margin-bottom: 10px;
  border: $textColor;
}
